.programs {
  padding: 100px 0;

  @media (max-width: $df-mobile) {
    padding: 60px 0;
  }
}

.programs-inner {
  @include container;
}

.programs-heading {
  text-align: center;
}

.programs-title {
  width: 55%;
  margin: 0 auto;
  color: $color-dark-text;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-transform: capitalize;
  text-align: center;

  @media (max-width: $df-mobile) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.programs-slider{
  position: relative;
  margin-top: 30px;

  @media (max-width: $df-mobile) {
    margin: 0 auto;
    width: 300px;
  }
}

.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 50;
  width: 18px;
  height: 31.5px;
  cursor: pointer;
}

.btn-prev {
  left: -43px;

  @media (max-width: $df-mobile) {
    display: none;
  }
}

.btn-next {
  right: -40px;

  @media (max-width: $df-mobile) {
    display: none;
  }
}

.swiper-pagination {
  display: none;

  @media (max-width: $df-mobile) {
    position: static;
    display: block;
  }
}

.slide-pic {
  width: 350px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;

  @media (max-width: $df-mobile) {
    width: 300px;
  }
}

.slide-title {
  margin-top: 20px;
  color: $color-dark-text;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

.slide-instructor {
  margin-bottom: 10px;
  color: $color-dark-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: capitalize;
}

.slide-text {
  margin-bottom: 20px;
  color: $color-dark;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
}

.slide-link-wrap {
  display: flex;
}

.slide-link {
  display: block;
  color: #3043A9;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.slide-icon {
  display: block;
  margin-left: 10px;
  height: 20px;
  width: 20px;
}


